<div class="container-xxl bg-white p-0">

    <!-- Navbar & Hero Start -->
    <section id="nav-hero" class="container-xxl position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0 sticky-top shadow-sm">
            <a href="/" class="navbar-brand p-0">
                <h1 class="m-0"><i class="fa fa-server me-3"></i>ChemQuest</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="#nav-hero" class="nav-item nav-link active">Inicio</a>
                    <a href="#about" class="nav-item nav-link">Sobre ChemQuest</a>
                    <a href="#games" class="nav-item nav-link">Juegos</a>
                    <a href="#faq" class="nav-item nav-link">FAQ</a>
                </div>
                <a href="/register" class="btn btn-secondary py-2 px-4 ms-3">Registro</a>
            </div>
        </nav>

        <div class="container-xxl py-5 bg-primary hero-header mb-5">
            <div class="container my-5 py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-6 pt-5 text-center text-lg-start">
                        <h1 class="display-4 text-white mb-4 animated slideInLeft" style="text-align: center;">Bienvenido a ChemQuest</h1>
                        <p class="text-white animated slideInLeft" style="text-align: center;">¡Explora y diviértete con el mundo de la química con ChemQuest!</p>
                        <a href="/login" class="btn btn-secondary py-sm-3 px-sm-5 me-3 animated slideInLeft">Iniciar Sesión</a>
                    </div>
                    <div style="margin-top: 0px;" class="col-lg-6 text-center text-lg-start">
                        <img class="img-fluid animated zoomIn" src="assets/img/landing-chemquest/heroChemQuest.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Navbar & Hero End -->


    <!-- About Start -->
    <section id="about" class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="section-title position-relative mb-4 pb-4">
                        <h1 style="font-size: 36px;" class="mb-2">Sobre ChemQuest</h1>
                    </div>
                    
                    <p class="mb-4">ChemQuest es una emocionante aplicación web educativa diseñada para enseñar química de manera entretenida. Con nuestra variedad de juegos podrás aprender de forma didáctica y proactiva gran variedad de temas sobre la química. Además, podrás competir con tus amigos por ver quién es el mejor experto en química. ¡Aprende mientras juegas!</p>
                    <div class="row g-3">
                        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                            <div class="bg-light rounded text-center p-4 equal-height">
                                <i class="fa fa-users-cog fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1">Configuración</h2>
                                <p class="mb-0">Configura los juegos a tu necesidad</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                            <div class="bg-light rounded text-center p-4 equal-height">
                                <i class="fa fa-users fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1">Equipos</h2>
                                <p class="mb-0">Trabaja de manera colaborativa</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                            <div class="bg-light rounded text-center p-4 equal-height">
                                <i class="fa fa-check fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1">Aprende</h2>
                                <p class="mb-0">Aprende sobre Química</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="assets/img/landing-chemquest/7484851.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->

    <!-- games Start -->
    <section id="games" class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Nuestros Juegos</h1>
                <p class="mb-1">Sumérgete en la aventura de la química con nuestros juegos interactivos. Desde resolver rompecabezas de compuestos hasta descifrar crucigramas químicos, resolver exámenes y adivinar fórmulas, ¡ChemQuest convierte el aprendizaje en una experiencia emocionante y cautivadora!</p>
            </div>
            
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="card-chemquest position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="fa fa-share-alt text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h2 class="mb-1">ChemCraft</h2>
                            <p class="mb-0">Un microjuego para combinar elementos y formar compuestos</p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <div class="btn btn-primary px-4 py-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="card-chemquest position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="fa fa-share-alt text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h2 class="mb-1">ChemCross</h2>
                            <p class="mb-0">Descifra crucigramas basados en conceptos y elementos químicos.</p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <div class="btn btn-primary px-4 py-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="card-chemquest position-relative shadow rounded border-top border-5 border-primary">
                        <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                            <i class="fa fa-share-alt text-white"></i>
                        </div>
                        <div class="text-center border-bottom p-4 pt-5">
                            <h2 class="mb-1">ChemGuess</h2>
                            <p class="mb-0">Desafíate a adivinar fórmulas químicas basadas en imágenes.</p>
                        </div>
                        <div class="text-center border-bottom p-4">
                            <div class="btn btn-primary px-4 py-2"></div>
                        </div>
                    </div>
                </div>
                <div class="container-xxl py-5">
                    <div class="container px-lg-5">
                        <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            
                            
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="margin-left: 62px; width: 78%;">
                                <div class="card-chemquest position-relative shadow rounded border-top border-5 border-primary">
                                    <div class="d-flex align-items-center justify-content-center position-absolute top-0 start-50 translate-middle bg-primary rounded-circle" style="width: 45px; height: 45px; margin-top: -3px;">
                                        <i class="fa fa-share-alt text-white"></i>
                                    </div>
                                    <div class="text-center border-bottom p-4 pt-5">
                                        <h2 class="mb-1">ChemTest</h2>
                                        <p class="mb-0">Pon a prueba tus conocimientos con cuestionarios desafiantes y educativos.</p>
                                    </div>
                                    <div class="text-center border-bottom p-4">
                                        <div class="btn btn-primary px-4 py-2"></div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    <div class="row g-5 comparison position-relative">
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- games End -->

    <!-- Footer Start -->
    <footer id="faq" class="container-fluid bg-primary text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5 px-lg-5">
            <div class="row g-5">
                <div style="padding-left: 0%;" class="col-md-6 col-lg-3">
                    <h3 style="text-align: center;" class="text-white mb-4">Contáctanos</h3>
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control border-0 rounded-pill" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control border-0 rounded-pill" placeholder="Correo electrónico">
                        </div>
                        <div class="mb-3">
                            <textarea style="border-radius: 12px !important;" class="form-control border-0 rounded-pill" rows="4" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="position-relative mt-3">
                            <button type="submit" style="background-color: #1a661a; border-color: #1a661a;" class="btn btn-primary rounded-pill w-100">Enviar</button>
                        </div>
                    </form>
                </div>
                <div style="margin-top: 14%; margin-left: 10%;" class="col-md-6 col-lg-3">
                    <h3 class="text-white mb-4">Nuestra oficina</h3>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Av. Universidad, Cenfotec, SJ.</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+506 2445 0000</p>
                    <p><i class="fa fa-envelope me-3"></i>soportechemquest.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
             
            </div>
        </div>
        <div class="container px-lg-5">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">ChemQuest</a>, Todos los derechos reservados. 
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="#nav-hero">Inicio</a>
                            <a href="#about">Sobre ChemQuest</a>
                            <a href="#games">Juegos</a>
                            <a href="#faq">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</div>
