<section id="team" class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Nuestro Equipo</h1>
            <p class="mb-1">Conoce a los expertos que forman parte de Nakamura Teams y cómo están haciendo la diferencia en el mundo digital.</p>
        </div>
        
        <div class="row gy-5 gx-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="team-item border-top border-5 border-primary rounded shadow overflow-hidden">
                    <div class="text-center p-4">
                        <img class="img-fluid rounded-circle mb-4" src="assets/img/landing-nakamura/teamPerson.png" alt="">
                        <h2 class="fw-bold mb-1">Fanny Sandoval</h2>
                        <p class="rol">Coordinador General</p>
                    </div>
                    <div class="d-flex justify-content-center bg-primary p-3">
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="team-item border-top border-5 border-primary rounded shadow overflow-hidden">
                    <div class="text-center p-4">
                        <img class="img-fluid rounded-circle mb-4" src="assets/img/landing-nakamura/teamPerson.png" alt="">
                        <h2 class="fw-bold mb-1">Brayan Carranza</h2>
                        <p class="rol">Cordinador de desarrollo</p>
                    </div>
                    <div class="d-flex justify-content-center bg-primary p-3">
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="team-item border-top border-5 border-primary rounded shadow overflow-hidden">
                    <div class="text-center p-4">
                        <img class="img-fluid rounded-circle mb-4" src="assets/img/landing-nakamura/teamPerson.png" alt="">
                        <h2 class="fw-bold mb-1">Guillermo Jiménez</h2>
                        <p class="rol">Coordinador de Calidad</p>
                    </div>
                    <div class="d-flex justify-content-center bg-primary p-3">
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                <div class="team-item border-top border-5 border-primary rounded shadow overflow-hidden">
                    <div class="text-center p-4">
                        <img class="img-fluid rounded-circle mb-4" src="assets/img/landing-nakamura/teamPerson.png" alt="">
                        <h2 class="fw-bold mb-1">Alejandro Salazar</h2>
                        <p class="rol">Coordinador de Soporte</p>
                    </div>
                    <div class="d-flex justify-content-center bg-primary p-3">
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-square text-primary bg-white m-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>