<div class="team-item border-top border-5 border-primary rounded shadow overflow-hidden">
    <div class="text-center p-4">
      <img class="img-fluid rounded-circle mb-4" [src]="imageUrl" alt="">
      <h2 class="fw-bold mb-1">{{ name }}</h2>
      <p class="rol">{{ role }}</p>
    </div>
    <div class="d-flex justify-content-center bg-primary p-3">
      <a class="btn btn-square text-primary bg-white m-1" href="#"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-square text-primary bg-white m-1" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-square text-primary bg-white m-1" href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>